:root {
  --color-primary: #00afff;
  --color-primary-dark: #29b6f6;
  --color-primary-light: #3fbaf3;
  --color-secondary: #fbb403;
  --color-secondary-dark: #f8e224;
  --color-secondary-light: #fee871;
  --color-gray: #8a8c92;
  --color-gray-dark: #b0b4c1;
  --color-gray-light: #a0a9b6;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Oxygen', sans-serif;
}
.container {
  width: 150rem;
  margin: auto;
}
.btn {
  padding: 1.5rem 4.5rem;
  font-size: 2.3rem;
  border-radius: 1rem;
  background-color: var(--color-primary);
  color: var(--color-secondary-light);
}
.secondaryHeading {
  color: var(--color-secondary);
  font-size: 5.2rem;
  opacity: 0.8;
}
.fas {
  padding-right: 2rem;
  color: #fff;
}
.far {
  padding-left: 2rem;
  color: #fff;
}
.header {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-light));
  padding: 2.4rem 0;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__heading {
  font-size: 5.3rem;
}
.header__list-item {
  padding-left: 5rem;
  text-decoration: none;
  font-size: 2.8rem;
  color: var(--color-secondary-light);
}
.learn {
  background: url("../images/geert-pieters-688278-unsplash.jpg");
  background-repeat: none;
  background-size: cover;
  height: 80rem;
}
.contact {
  background: rgba(0, 0, 0, 0.7);
  height: 80rem;
  position: relative;
}
.contact__content {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact__secondary {
  font-size: 8.8rem;
  text-align: center;
}
.contact__paragraph {
  font-size: 2.8rem;
  color: white;
  margin-top: 4.5rem;
  text-align: center;
  line-height: 1.7;
}
.contact__btn {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#employers {
  background-image: linear-gradient(to right, var(--color-primary), var(--color-primary-light));
  padding: 10rem 0;
}
.secondary {
  text-align: center;
}
.employee {
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.employee__name-1 {
  width: 30rem;
  margin-right: 6rem;
  text-align: center;
  margin-top: 3rem;
}
.employee__img {
  width: 30rem;
  height: 30rem;
  background-size: cover;
  object-fit: cover;
  border-radius: 50%;
}
.employee__names {
  font-size: 2.8rem;
  margin-top: 2rem;
}
.footer {
  background: #1D2226;
}
.items {
  list-style: none;
  display: flex;
  justify-content: space-around;
}
.items__list {
  color: #535658;
  font-size: 1.9rem;
  padding: 3rem 0;
}
