.header {
  background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary-light));
  padding: 2rem 0;


  &__logo {
    flex: 2;

    @media @tablet {
      font-size: @tablet-secondary-heading;
    }


  }

  &__nav {
    display: flex;

    align-items: center;

  }


  &__heading {
    font-size: 4.3rem;

    @media @tablet {
      font-size: @tablet-secondary-heading;
    }

  }

  &__list-item {
    padding-left: 6rem;
    text-decoration: none;
    font-size: 2.6rem;
    color: black;


    @media @tablet {
      font-size: @tablet-font;
    }

  }


}