.header {
  background-image: linear-gradient(to bottom right, var(--color-secondary), var(--color-primary-light));
  padding: 2rem 0;


  @media @mobile {
    padding: 1rem;

  }



  &__logo {
    flex: 2;


    @media @tablet {
      font-size: @tablet-secondary-heading;
    }


  }

  &__nav {
    display: flex;
    align-items: center;

  }


  &__heading {
    font-size: 4.3rem;

    @media @tablet {
      font-size: @tablet-secondary-heading;
    }

    @media @mobile {
      font-size: 1.8rem;
    }

  }

  &__list-item {
    padding-left: 6rem;
    text-decoration: none;
    font-size: 2.6rem;
    color: #fff;


    @media @tablet {
      font-size: @tablet-font;
    }

    @media @mobile {
      font-size: @mobile-font;
      padding-left: 1rem;

    }


  }


}